a{text-decoration: none !important; color: #000 !important;}
ul{list-style: none; padding: 10px !important;}

.color{color: #ffb91d;}
.backgroundcolor{background: #000;}

.navbar-toggler {border-color: rgba(255, 255, 255, 0.5); }
.navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* This will make the lines of the toggle button white */}
.nav-item a{color: #ffb91d !important;}

.wrap-2 .carousel-item img { height: 100vh;  object-fit: cover;  }

.wrap-3 .imgCenter{position: relative;}
.wrap-3 .position{position: absolute;top: 70%; left: 50%; transform: translate(-50%, -50%);}


.wrap-4 .cart a{background: #000; color: #ffb91d !important;}
.wrap-4 .card-body{background: #000 !important; color: #ffb91d;}
.wrap-4 .card-review,.price{color: #fff;}
.wrap-4 .card-body h5{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.wrap-4 .orignalPrice{font-size: 14px; color: #808080;}
.wrap-4 .card{overflow: hidden; border: 1px solid #ffb91d;}
.wrap-4 .card img{transition: 0.5s; }
.wrap-4 .card img:hover{transform: scale(1.1);}
.wrap-4 .card .fit-image{ width: 100%; height: 320px; object-fit: cover;}
/* Shop Select Item */
.wrap-4 form select{background: #000; color: #ffb91d;}
.wrap-4 form select:focus { outline: none;box-shadow: none; border: 1px solid #fff;}
/* Cart */
input:focus, input:active{outline: none !important; box-shadow: none !important; border: none !important;}
button:focus, button:active { outline: none !important; box-shadow: none !important; border: none !important;}
textarea:focus, textarea:active { outline: none !important; box-shadow: none !important; border: none !important;}


.userid img{width: 60px; height: 60px;}

.rating .card{background-color: #111111; width: 100%; height: 200px; font-size: 13px; font-weight: 400;}

/* cart table */
table th,td{color: #fff; padding: 10px 16px !important;}

/* stores map */
/* .map-wrapper { position: relative;padding-bottom: 56.25%;height: 0;overflow: hidden;} */
/* .map-wrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;} */
iframe{width: 100%; height: 700px;}
.storesleft{width: 100%; height: 650px; overflow: auto;}

/* About */
.about .img-right{width: 100%; height: 600px; object-fit: cover;}

.wrap-5 .circle {width: 150px; height: 150px; overflow: hidden; border: 1px solid #ffb91d; border-radius: 50%; margin: auto;}
.wrap-5 h2 a{color: #ffb91d !important;}

.wrap-6 .box{border: 1px solid #ffb91d !important;}

.wrap-7 .container{background: url(../Img/our-story-banner.webp) no-repeat center/cover; width: 100%; height: 450px; height: fit-content; background-color: #e4d9ce33; background-attachment: fixed; border-radius: 24px;}
.wrap-7 .Button{width: 170px; height: 50px; border: 2px solid #ffc107; border-radius: 50%; text-align: center; display: grid; place-items: center; font-size: 18px; font-weight: 500;}

.wrap-8 .container{background: #f0efef;}
.wrap-8 .left{border-left: 2px solid #cdcbcb;}

.wrap-9 .right{border-right: 2px solid #cdcbcb;}
.wrap-9 ul li a{font-size: 13px; font-weight: 600;}
.wrap-9 .social ul li{ border: 1px solid#fff; display: grid; place-items: center; width: 60px; height: 60px; border-radius: 50%; }

/* Footer back to top */
.back-to-top{width: 40px; height: 40px; border: 1px solid #fff; border-radius: 50%; background: #fff; display: none;}
.back-to-top a{display: grid; place-items: center; padding: 3px 0;}

/* Title Page */
.title-page h2{position: relative;}
.title-page h2:before {
    content: "";
    height: 2px;
    width: 74px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    background: #ffb91d;
}

/* Checkout */
.nav-pills .nav-link.active{
    color: #ffb91d !important;
    background-color: #424242 !important;
}

/* Address*/
.modal-content{width: 500px !important; height: auto !important; margin: auto;}

/* Details Address */
.detailAddress{width: 500px !important; height: 450px !important; margin: auto; overflow: auto;}


/* Search Location */
.search-box .position-relative{position: relative !important;}
.search-box .position-absolute{position: absolute !important; right: 20px; top: 50%;  transform: translateY(-50%);}

/* Details Address */

.custom-radios input[type=radio] {
    display: none;
    box-sizing: border-box;
    padding: 0;
}
.custom-radios input[type=radio]+label {
    color: #595959;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}
.custom-radios input[type=radio]:checked+label{
    background-color: #fcf8f7;
    border-color: #fcf8f7;
    color: #ffb91d;
}

.forms .form-control:focus, .forms .form-control:active {
    outline: 1px solid gold !important;
    box-shadow: none !important;
    border: gold !important;
}


@media screen and (max-width:767px){
    .wrap-9 .second.right{border-right: none;}
    

}
@media screen and (max-width:575px){
    .wrap-9 .first.right{border-right: none;}
}